<extend name="Layout/main"/>
<block name="main">
    <input type="hidden" value="News" id="chiledren"/>
    <header class="panel-heading tab-dark ">
        <ul class="nav nav-tabs nav-dark tradeNav">
            <li><a href="#register" data-toggle="tab"><strong>已发布</strong></a></li>
            <li><a href="#account" data-toggle="tab"><strong>审核未通过</strong></a></li>
            <li><a href="#trade" data-toggle="tab"><strong>已下架</strong></a></li>
            <li><a href="#regAndAcc" data-toggle="tab"><strong>草稿</strong></a></li>
            <li><a href="#add_audio" data-toggle="tab"><strong>添加音频</strong></a></li>
        </ul>
    </header>

    <section class="panel divBox">


        <div class="dataAll">

            <div id="get_data_area"></div>
            <input type="hidden" value="0" name="status" id="status"/>
            <input type="hidden" value="audio" name="channel" id="channel"/>
        </div>
    </section>

    <div class="addQA" id="loading_tiao" style="display:none ;">
        <div class="addMouule" style="left: 29%;width: 60%;height:20px;position: fixed;min-width: 800px">
            <div id="slider-danger" class="slider-danger mb20 ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false">
                <div id="loding" class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 10%;"></div>
            </div>
        </div>
        <div class="meng"></div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".tradeNav li:first").click();
            $(".tradeNav li:first").attr("class", "active");
        })
    </script>
</block>
