<extend name="Layout/main"/>
<block name="main">
    <input type="hidden" value="News" id="chiledren"/>


    <section class="panel divBox">


        <div class="dataAll">
            <div class="loading" style="display: none;width: 100%;text-align: center;">
                <img src="__IMG__/loading.gif"/>
            </div>

            <div class="panel-body panel-body-nopadding">
                <form id="addForm" class="form-horizontal form-bordered">
                    <input type="hidden" value="audio" name="sendtype" />
                    <div class="form-group">
                        <label class="col-sm-3 control-label">标题<span class="asterisk">*</span></label>
                        <div class="col-sm-6">
                            <input type="text" placeholder="标题" name="title" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">摘要<span class="asterisk">*</span></label>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="5" name="summary"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">上传音频</label>
                        <div class="col-sm-6">

                            <a class="blue pointer" id="upload_music_span_" onclick="uploadIMG('upload_music','')">上传音频</a>
                            <input type="file" class="form-control hide" name="upload_music" id="upload_music_file_"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">是否立即发布</label>
                        <div class="col-sm-6">
                            <div class="radio"><label><input type="radio" name="send" value="0" checked="checked" class="setPublish" > 是</label></div>
                            <div class="radio"><label><input type="radio" name="send"  value="1"  class="setPublish"> 否</label></div>
                            <input type="text" class="form-control hide" name="publish_time" id="publishtime" placeholder="请输入发布时间"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label"> 所属频道</label>
                        <div class="col-sm-6">
                            <select class="form-control mb15" name="channel" id="channel" onchange="getData('../News/getGuzhiChannel')">
                                <option value="1">精选</option>
                                <option value="2">闻道</option>
                                <option value="3">博览</option>
                                <option value="4">游历</option>
                                <option value="5">回忆</option>

                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label"> 观止频道</label>
                        <div class="col-sm-6">
                            <div id="get_data_area"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">缩略图类型</label>
                        <div class="col-sm-6">
                            <select class="form-control mb15" name="thumnailChannel" id="specialImg" onchange="thumbnailStatus()">
                                <option value="0">推荐位</option>
                                <option value="1">列表</option>
                                <option value="2">封面</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label">上传缩略图</label>

                        <?php for($i=0;$i<3;$i++){ ?>
                        <div class="col-sm-6">
                            <a class="blue pointer that hide" id="thumbnail_span_{$i}"
                               onclick="uploadIMG('thumbnail','{$i}')">上传缩略图</a>
                            <input type="file" class="form-control hide" name="thumbnail[]" id="thumbnail_file_{$i}"/>
                        </div>
                        <?php } ?>

                    </div>

                </form>
                <div class="form-group">
                    <button class="btn btn-primary savebutton" onclick="submitNewChanne('addForm','addVideo')">保&nbsp;&nbsp;存</button>

                </div>
            </div>
        </div>


    </section>

    <script type="text/javascript" charset="utf-8" src="__JS__/upload.js"></script>
    <script>
        $(document).ready(function () {
            thumbnailStatus();
            getData('../News/getGuzhiChannel');
        })
    </script>
</block>


