<section class="panel divBox">
    <div class="dataAll">
        <div class="panel-body panel-body-nopadding">
            <form id="addForm" class="form-horizontal form-bordered">
                <input type="hidden" value="audio" name="sendtype"/>
                <div class="form-group">
                    <label class="col-sm-1 control-label">标题<span class="asterisk">*</span></label>
                    <div class="col-sm-6">
                        <input type="text" placeholder="标题" name="title" class="form-control"
                               value="{$result['streamInfo'][0]['title']}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">摘要<span class="asterisk">*</span></label>
                    <div class="col-sm-6">
                        <textarea class="form-control" rows="5" name="summary">{$result['streamInfo'][0]['msg_abstract']}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">上传视频</label>
                    <div class="col-sm-6">
                            <span id="audio_area_show_1">
                                 <?php
                                $audioPath=$result['mediaDetail'][0]['content'];
                                   if(!empty($audioPath)){
                                ?>
                                <video id='player' style='width: 300px;' controls preload='auto'
                                       src="..{$audioPath}"></video>
                                <?php } ?>
                            </span>

                        <span class="label label-primary  pointer" id="thumbnail_span_1"
                              onclick="uploadIMG('thumbnail','1')">
                            <i class="fa fa-cloud-upload"></i>上传视频</span>

                        </a>
                        <input type="hidden" class="form-control" name="upload_music" id="thumbnail_file_1"
                               value="{$audioPath}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">发布时间</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control " name="publish_time" id="publishtime"
                               value="{$result['streamInfo'][0]['publish_time']}"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label"> 所属频道</label>
                    <div class="col-sm-6">
                        <select class="form-control mb15" name="channel" id="channel"
                                onchange="getSelectData('getGuzhiChannel')">
                            <option value="1">精选</option>
                            <option value="2">闻道</option>
                            <option value="3">博览</option>
                            <option value="4">游历</option>
                            <option value="5">回忆</option>

                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label"> 观止频道</label>
                    <div class="col-sm-6">
                        <div id="select_data_area"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">缩略图类型</label>
                    <div class="col-sm-6">
                        <select class="form-control mb15" name="thumnailChannel" id="specialImg"
                                onchange="thumbnailStatus()">
                            <option value="2">推荐位</option>
                            <option value="3">列表</option>
                            <option value="4">封面</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">上传缩略图</label>

                    <?php for($i=2;$i<5;$i++){ ?>
                    <div class="col-sm-6">
                        <a class="blue pointer that hide" id="thumbnail_span_{$i}"
                           onclick="uploadIMG('thumbnail','{$i}')">
                            <?php
                                $thumbnail_url=$result['streamInfo'][$i-2]['thumbnail_url'];
                                if(!empty($thumbnail_url)){
                                    $thumurls=strpos($thumbnail_url,"http");
                                    if($thumurls===false){
                                        $thumbnail_url="..".$thumbnail_url;
                                    }
                             ?>
                            <img src="{$thumbnail_url}" class="eidtImg"/>
                            <?php }else{ ?>
                            上传缩略图
                            <?php } ?>
                        </a>
                        <input type="hidden" class="form-control " name="thumbnail[]" id="thumbnail_file_{$i}"
                               value="{$thumbnail_url}"/>
                    </div>
                    <?php } ?>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">标签<span class="asterisk">*</span></label>
                    <?php for($i=1;$i<6;$i++){ ?>
                    <div class="col-sm-2">
                        <input type="text" placeholder="请输入标签" value="{$result['tagMsg'][$i-1]['tag']}"
                               name="tags[]" class="form-control">
                    </div>
                    <?php } ?>
                </div>
                <input type="hidden" value="radio" name="sendtype"/>
                <input type="hidden" value="{$result['streamInfo'][0]['channel']}" id="hideChannel"/>
                <input type="hidden" name="opinion_method" value="update"/>
                <input type="hidden" name="msg_id" value="{$result['streamInfo'][0]['msg_id']}"/>

                <input type="hidden" id="send_status" name="send_status" value="0"/>
                <input type="hidden" id="audio_length" name="audio_length" value="0"/>
            </form>
            <div class="form-group savebutton">
                <button class="btn btn-primary " id="button_send"
                        onclick="submitNewChanne('addForm','addVideo','News','send')">保&nbsp;&nbsp;存
                </button>
                <button class="btn btn-primary " id="button_save"
                        onclick="submitNewChanne('addForm','addVideo','News','save')">存为草稿
                </button>
            </div>
        </div>
    </div>


</section>

<script type="text/javascript" charset="utf-8" src="__JS__/upload.js"></script>
<script>
    $(document).ready(function () {
        thumbnailStatus();

        $("#channel").val($("#hideChannel").val());
        getSelectData('getGuzhiChannel');
        $("#subname").val("radio_images");
    })
</script>


