<extend name="Layout/main"/>
<block name="main">
    <input type="hidden" value="News" id="chiledren"/>

    <section class="panel divBox">

        <div class="dataAll">
            <div class="panel-body panel-body-nopadding">
                <form id="addFormPics" class="form-horizontal form-bordered">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">标题<span class="asterisk">*</span></label>
                        <div class="col-sm-6">
                            <input type="text" placeholder="标题" name="title" class="form-control"
                                   value="{$result['streamInfo'][0]['title']}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">摘要<span class="asterisk">*</span></label>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="5" name="summary">{$result['streamInfo'][0]['msg_abstract']}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">上传缩略图</label>
                        <div class="col-sm-6">
                            <a class="blue pointer" id="thumbnail_span_0" onclick="uploadIMG('thumbnail','0')">
                            <?php
                                    $strThu=$result['streamInfo'][0]['thumbnail_url'];
                                    if(!empty($strThu)){
                                     $thumurls=strpos($strThu,"http");

                                        if($thumurls!==false){
                                            $str_thum=$strThu;
                                        }else{
                                            $str_thum="..".$strThu;
                                        }
                                ?>
                            <img src="{$str_thum}" class="eidtImg" />
                            <?php }else{ ?>
                            上传缩略图
                            <?php } ?>
                            </a>
                            <input type="hidden" class="form-control hide" name="thumbnails" id="thumbnail_file_0" value="{$result['streamInfo'][0]['thumbnail_url']}"/>
                        </div>
                    </div>

                    <div class="form-group">

                        <?php
                            $articleThumCount=count($result['mediaDetail']);
                        ?>
                        <button class="btn btn-warning btn-xs MRR" type="button" onclick="addConversion()"
                                id="addconversion" num_id="{$articleThumCount}" max_num="10">增加封面缩略图
                        </button>
                        <label class="col-sm-1 control-label">封面缩略图</label>
                        <div class="col-sm-6">
                            <?php
                                for($i=1;$i<10;$i++){
                                $picsThum=$result['mediaDetail'][$i-1]['content'];
                                $thumadesc=$result['mediaDetail'][$i-1]['summary'];
                            ?>

                            <a class="blue pointer hide" id="thumbnail_span_{$i}"
                               onclick="uploadIMG('thumbnail','{$i}')">
                                <?php
                                    if(!empty($picsThum)){
                                        $thumurls=strpos($picsThum,"http");

                                        if($thumurls!==false){
                                            $picsThum=$picsThum;
                                        }else{
                                            $picsThum="..".$picsThum;
                                        }
                                ?>
                                <img src="{$picsThum}" class="eidtImg"/>
                                <?php }else{ ?>
                                封面缩略图
                                <?php } ?>
                            </a>
                            <input type="text" class="form-control hide" name="picdesc[]" id="thumbnail_text_{$i}"
                                   placeholder="请输入介绍文字" value="{$thumadesc}"/>
                            <input type="hidden" class="form-control " name="upload_pic[]" id="thumbnail_file_{$i}"
                                   value="{$articleThum[$i-1]}"/>
                            <div class="MTS"></div>
                            <?php } ?>

                        </div>


                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">发布时间</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control " name="publish_time" id="publishtime"
                                   value="{$result['streamInfo'][0]['publish_time']}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-1 control-label"> 所属频道</label>
                        <div class="col-sm-6">
                            <select class="form-control mb15" name="channel" id="channel"
                                    onchange="getData('../News/getGuzhiChannel')">
                                <option value="1">精选</option>
                                <option value="2">闻道</option>
                                <option value="3">博览</option>
                                <option value="4">游历</option>
                                <option value="5">回忆</option>
                            </select>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-sm-1 control-label"> 观止频道</label>
                        <div class="col-sm-6">
                            <div id="get_data_area"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">标签<span class="asterisk">*</span></label>
                        <?php for($i=1;$i<6;$i++){ ?>
                        <div class="col-sm-2">
                            <input type="text" placeholder="请输入标签" value="{$result['tagMsg'][$i-1]['tag']}"
                                   name="tags[]" class="form-control">
                        </div>
                        <?php } ?>
                    </div>
                    <input type="hidden" value="{$result['streamInfo'][0]['channel']}" id="hideChannel"/>
                    <input type="hidden" name="opinion_method" value="update"/>
                    <input type="hidden" name="msg_id" value="{$result['streamInfo'][0]['msg_id']}"/>
                    <input type="hidden" id="hide_guanzhi_id" value="{$result['guZhiMsg'][0]['guanzhi_id']}"/>

                </form>
                <div class="form-group">
                    <button class="btn btn-primary savebutton" onclick="submitNewChanne('addFormPics','addSetPic')">保&nbsp;&nbsp;存</button>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        $(document).ready(function () {
            newsoOnload();
            $("#subname").val("pics_images");
        })
    </script>
</block>


