<extend name="Layout/main"/>
<block name="main">
    <input type="hidden" value="Discover" id="chiledren"/>


    <section class="panel divBox">

        <div class="dataAll">
            <div class="loading" style="display: none;width: 100%;text-align: center;">
                <img src="__IMG__/loading.gif"/>
            </div>


            <table class="dataTable" cellpadding="0" cellspacing="0">
                <tr class="info">
                    <th>序号</th>
                    <th>观止标题</th>
                    <th>缩略图</th>
                    <th>发布时间</th>
                    <th>操作</th>
                </tr>
                <?php
                    foreach($result as $key=>$val){
                ?>

                <tr>
                    <td>{$key+1}</td>
                    <td>
                        <div class="whiteSpace">{$val.title}</div>
                    </td>
                    <td align="center">
                        <img src="{$val.pic_url}" width="100px"/>
                    </td>
                    <td>{$val.publish_time}</td>
                    <td>
                        <?php if($val["loop_status"]==0 && $val["loop_status"]!=Null){ ?>
                        <a onclick="updateData('../Discover/setStatusBanner','{$val.notice_id}',1)" class="blue pointer">设置轮播图</a>
                        <?php }else if($val["loop_status"]==1 && $val["loop_status"]!=Null){ ?>
                        <a onclick="updateData('../Discover/setStatusBanner','{$val.notice_id}',0)" class="blue pointer">取消轮播图</a>
                        <?php  }else{ ?>
                        <a onclick="updateData('../Discover/setStatusBanner','{$val.notice_id}',1)" class="blue pointer">设置轮播图</a>
                        <a onclick="updateData('../Discover/setStatusBanner','{$val.notice_id}',0)" class="blue pointer">取消轮播图</a>
                        <?php  }?>
                    </td>
                </tr>
                <?php }?>


                <?php
                    if(count($result)==0){
                ?>
                <tr>
                    <td colspan="5" align="center">暂无符合的数据</td>
                </tr>
                <?php }?>
            </table>


        </div>
    </section>

</block>


