<extend name="Layout/main"/>
<block name="main">
    <input type="hidden" value="Guzhi" id="chiledren"/>


    <section class="panel divBox">
        <header class="panel-heading">
            <div class="selectArea">

                <button class="btn btn-info btn-xs authAll" type="button" onclick="addLayer('addDIV')"><i
                        class="fa fa-plus-square-o"></i> 新建精选专题
                </button>
            </div>
        </header>

        <div class="dataAll">
            <div class="loading" style="display: none;width: 100%;text-align: center;">
                <img src="__IMG__/loading.gif"/>
            </div>


            <table class="dataTable" cellpadding="0" cellspacing="0">
                <tr class="info">
                    <th>序号</th>
                    <th>动态描述</th>

                    <th>发布时间</th>
                    <th>操作</th>
                </tr>
                <?php
                    foreach($result as $key=>$val){
                ?>

                <tr>
                    <td>{$key+1}</td>
                    <td>
                        <div class="whiteSpace">{$val.title}</div>
                    </td>

                    <td>{$val.publish_time}</td>
                    <td>
                        <a  href="__ROOT__/News/newsshow.html?guanzhiid={$val.guanzhi_id}&channel=1" class="blue pointer">编辑</a>
                        <?php
                            if($val["status"]==0){ ?>
                        <a onclick="updateData('../Guzhi/updateStatusMethod','{$val.guanzhi_id}',1)" class="blue pointer">隐藏</a>
                        <?php }else{ ?>
                        <a onclick="updateData('../Guzhi/updateStatusMethod','{$val.guanzhi_id}',0)" class="blue pointer">显示</a>
                        <?php } ?>
                        <a class="blue pointer" onclick="updateData('../Guzhi/deltedMethod','{$val.guanzhi_id}')">删除</a>
                    </td>
                </tr>
                <?php }?>


                <?php
                    if(count($result)==0){
                ?>
                <tr>
                    <td colspan="5" align="center">暂无符合的数据</td>
                </tr>
                <?php }?>
            </table>


        </div>
    </section>


    <div class="addQA" id="addDIV" style="display:none ;">
        <div class="addMouule" style="left: 29%;width: 60%; position: absolute;top: 5%;">
            <section class="panel">
                <header class="panel-heading">
                    新建精选专题
                    <a class="fa fa-times close" onclick="addLayer('addDIV','close')"></a>
                </header>

                <form id="addForm" class="form-horizontal form-bordered">
                    <input type="hidden" name="channel" id="channel" value="zt"/>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">标题</label>
                        <div class="col-sm-6">
                            <input type="text" placeholder="请输入标题" name="title" class="form-control">
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-3 control-label">摘要</label>-->
                        <!--<div class="col-sm-6">-->
                            <!--<textarea class="form-control" rows="5" name="summary" placeholder="请输入摘要"></textarea>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">介绍</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="5" name="desc" placeholder="请输入介绍"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">专题图类型</label>
                        <div class="col-sm-6">
                            <select class="form-control mb15" name="thumnailChannel" id="specialImg" onchange="thumbnailStatus()">
                                <option value="0">主页背景图</option>
                                <option value="1">列表缩略图</option>
                                <option value="2">推荐位缩略图</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label">上传专题图</label>


                        <?php for($i=0;$i<3;$i++){ ?>
                        <div class="col-sm-6">
                            <a class="blue pointer that hide" id="thumbnail_span_{$i}"
                               onclick="uploadIMG('thumbnail','{$i}')">上传专题图</a>
                            <input type="hidden" class="form-control hide" name="thumbnail[]" id="thumbnail_file_{$i}"/>
                        </div>
                        <?php } ?>

                    </div>


                </form>
                <div class="form-group">
                    <div class="btn btn-primary savebutton" onclick="submitNewChanne('addForm','addJXMethod','Guzhi')">&nbsp;保&nbsp;&nbsp;存</div>
                </div>
            </section>
        </div>

        <div class="meng"></div>
    </div>
    </div>

    <script>
        $(document).ready(function () {
            thumbnailStatus();
        })

    </script>
</block>


