<table class="dataTable">
    <tr>
        <th>时间</th>
        <th>出/入金</th>
        <th>金额</th>

    </tr>
    <?php
   foreach($floweResult as $val){
   if($val["asset"]>0){
    $nameS="入金";
    }else{
    $nameS="出金";
    }
    ?>
    <tr>
        <td>{$val["info_date"]}</td>
        <td>{$nameS}</td>
        <td>{$val["asset"]}</td>
    </tr>
    <?php }
 if(count($floweResult)==0 || empty($floweResult)) { ?>
    <tr>
        <td colspan="3" align="center">暂无数据</td>
    </tr>
    <?php } ?>
</table>