<extend name="layout/main"/>
<block name="main">

    <ul class="breadcrumb panel headTop">
        <li><i class="fa fa-list"></i> 渠道管理</li>
    </ul>

    <section class="panel divBox">
        <header class="panel-heading">
            <div class="selectArea">


                <div class="serachDate">
                    <div class="col-md-4">
                        <div class="input-group input-large custom-date-range">
                            <span class="input-group-addon">姓名</span>
                            <input type="text" class="searchInput" id="channelName" placeholder="姓名">

                        </div>
                    </div>
                </div>


                <div class="serachDate">
                    <div class="col-md-4">
                        <div class="input-group input-large custom-date-range">
                                <span class="input-group-addon" data-toggle="dropdown">
                                    <span id="selectTime">出金时间</span>
                                    <span class="caret"></span>
                                </span>

                            <input type="text" class="searchInput" id="dateStart" value="{$arr['startDate']}">
                            <span class="input-group-addon">To</span>
                            <input type="text" class="searchInput" id="dateEnd" value="{$arr['endDate']}">
                        </div>
                    </div>
                </div>

                <div class="btn-group">
                    <button data-toggle="dropdown" class="btn btn-primary  dropdown-toggle btn-sm" type="button">
                        <span id="selectChannel" name="selectChannel">全部渠道类型</span>
                        <span class="caret"></span>
                    </button>
                    <ul role="menu" class="dropdown-menu">
                        <?php foreach($channel as $val) { ?>
                        <li class="pointer" onclick="sheChannelType('{$val["channel_type"]}')">{$val["channel_type"]}</li>
                        <?php } ?>
                        <li class="divider"></li>
                        <li class="pointer" onclick="sheChannelType('全部渠道类型')">全部渠道类型</li>
                    </ul>
                </div>



                <div class="btn-group authAll">
                    <button data-toggle="dropdown" class="btn btn-primary  dropdown-toggle btn-sm" type="button">
                        <span id="selectParent">全部转化人</span>
                        <input type="hidden" id="parentHidden" value="全部转化人"/>
                        <span class="caret"></span>
                    </button>
                    <ul role="menu" class="dropdown-menu">
                        <?php foreach($conversion as $val) { ?>
                        <li class="pointer" onclick="sheParentType('{$val["name"]}','{$val["name"]}')">{$val["name"]}</li>
                        <?php } ?>
                        <li class="divider"></li>
                        <li class="pointer" onclick="sheParentType('全部转化人')">全部转化人</li>
                    </ul>
                </div>

                <div class="btn-group">
                    <button data-toggle="dropdown" class="btn btn-primary  dropdown-toggle btn-sm" type="button">
                        <span id="selectProcess">全部</span>
                        <span class="caret"></span>
                    </button>
                    <ul role="menu" class="dropdown-menu">
                        <?php foreach($process as $key=>$val) { ?>
                        <li class="pointer" onclick="sheProcessType('{$val}','{$key}')">{$val}</li>
                        <input type="hidden" id="processHidden" value="全部"/>
                        <?php } ?>
                        <li class="divider"></li>
                        <li class="pointer" onclick="sheProcessType('全部','全部')">全部</li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button data-toggle="dropdown" class="btn btn-success btn-sm pad25" type="button" id="search"
                            onclick="getData('../Trade/getgetGlodData')">
                        <span>查&nbsp;询</span>
                    </button>
                </div>

            </div>

        </header>

        <div class="dataAll">

            <div class="loading" style="display: none;width: 100%;text-align: center;">
                <img src="__IMG__/loading.gif"/>
            </div>

            <div id="get_data_area"></div>

        </div>

    </section>


</block>


