<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="__IMG__/favicon.png" type="image/png">

    <title>今日奇观后台</title>

    <link href="__CSS__/style.default.css" rel="stylesheet"/>
    <script src="__JS__/jquery-1.11.1.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="__JS__/html5shiv.js"></script>
    <script src="__JS__/respond.min.js"></script>
    <![endif]-->
</head>

<body>


<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>

<section>

    <div class="leftpanel">

        <div class="logopanel">
            <img src="__IMG__/logo.png"/>
        </div><!-- logopanel -->

        <div class="leftpanelinner">

            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media userlogged">
                    <img alt="" src="__IMG__/photos/loggeduser.png" class="media-object">
                    <div class="media-body">
                        <h4>{$arr["auth"]["user_name"]}</h4>
                    </div>
                </div>
                <h5 class="sidebartitle actitle">Account</h5>
                <ul class="nav nav-pills nav-stacked nav-bracket mb30">
                    <li><a href=""><i class="fa fa-cog"></i> <span>设置</span></a></li>
                    <li><a href="signout.html"><i class="fa fa-sign-out"></i> <span>退出</span></a></li>
                </ul>
            </div>

            <ul class="nav nav-pills nav-stacked nav-bracket">

                <neq name="check" value="$News">
                    <li class="nav-parent" id="News"><a><i class="fa fa-edit"></i> <span>内容发布模块</span></a>
                        <ul class="children">
                            <neq name="check" value="$getarticle">
                                <li id="getarticle"><a href="__ROOT__/News/getarticle.html"><i
                                        class="fa fa-caret-right"></i>图文内容编辑器</a>
                                </li>
                            </neq>
                            <neq name="check" value="$getpics">
                                <li id="getpics"><a href="__ROOT__/News/getpics.html"><i class="fa fa-caret-right"></i>发布图集</a>
                                </li>
                            </neq>
                            <neq name="check" value="$getaudio">
                                <li id="getaudio"><a href="__ROOT__/News/getaudio.html"><i class="fa fa-caret-right"></i>发布音频</a>
                                </li>
                            </neq>
                            <neq name="check" value="$getradio">
                                <li id="getradio"><a href="__ROOT__/News/getradio.html"><i class="fa fa-caret-right"></i>发布视频</a>
                                </li>
                            </neq>

                        </ul>
                    </li>
                </neq>
                <neq name="check" value="$Audit">
                    <li class="nav-parent" id="Audit"><a><i class="fa  fa-list-alt"></i> <span>信息流管理</span></a>
                        <ul class="children">
                            <neq name="check" value="$getmsg">
                            <li id="getmsg"><a href="__ROOT__/Audit/getmsg.html"><i
                                    class="fa fa-caret-right"></i>信息流管理</a>
                            </li>
                                </neq>
                        </ul>
                    </li>
                    </li>
                </neq>
                <neq name="check" value="$Guzhi">
                    <li class="nav-parent" id="Guzhi"><a><i class="fa fa-list"></i> <span>观止频道</span></a>
                        <ul class="children">
                            <li id="jingxuan"><a href="__ROOT__/Guzhi/jingxuan.html"><i class="fa fa-caret-right"></i>精选专题管理</a>
                            </li>

                            <li id="wendao"><a href="__ROOT__/Guzhi/wendao.html"><i class="fa fa-caret-right"></i>闻道主题管理</a>
                            </li>
                            <li id="bolan"><a href="__ROOT__/Guzhi/bolan.html"><i
                                    class="fa fa-caret-right"></i>博览主题管理</a>
                            </li>
                            <li id="youli"><a href="__ROOT__/Guzhi/youli.html"><i
                                    class="fa fa-caret-right"></i>游历主题管理</a>
                            </li>

                            <li id="banner"><a href="__ROOT__/Guzhi/banner.html"><i class="fa fa-caret-right"></i>
                                <span>观止轮播图管理</span></a></li>
                        </ul>
                    </li>
                </neq>
                <neq name="check" value="$Discover">
                    <li class="nav-parent" id="Discover"><a><i class="fa fa-eye"></i> <span>发现频道</span></a>
                        <ul class="children">
                            <li id="send_discover"><a href="__ROOT__/Discover/send_discover.html"><i
                                    class="fa fa-caret-right"></i>公告内容发布</a>
                            </li>

                            <li id="banner_iscover"><a href="__ROOT__/Discover/banner_iscover.html"><i
                                    class="fa fa-caret-right"></i>轮播内容管理</a>
                            </li>

                        </ul>
                    </li>
                </neq>

                <neq name="check" value="$Question">
                    <li class="nav-parent" id="Question"><a><i class="fa fa-question"></i> <span>问答管理</span></a>
                        <ul class="children">
                            <li id="question_asked"><a href="__ROOT__/Question/question_asked.html"><i
                                    class="fa fa-caret-right"></i>优秀问答</a>
                            </li>

                        </ul>
                    </li>
                </neq>


                <neq name="check" value="$Auth">
                    <li class="nav-parent" id="Auth"><a><i class="fa fa-user"></i> <span>角色管理</span></a>
                        <ul class="children">
                            <li id="user"><a href="__ROOT__/Auth/user.html"><i class="fa fa-caret-right"></i>采集用户</a>
                            </li>
                            <li id="auth_user"><a href="__ROOT__/Auth/auth_user.html"><i class="fa fa-caret-right"></i>权限管理</a>
                            </li>
                        </ul>
                    </li>

                </neq>
            </ul>


        </div>
    </div>

    <div class="mainpanel">
        <div class="headerbar">
            <a class="menutoggle"><i class="fa fa-bars"></i></a>
            <span class="anchor"><span id="anchorName"></span></span>
            <div class="header-right">
                <ul class="headermenu">
                    <li>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <img src="__IMG__/photos/loggeduser.png" alt=""/>
                                {$arr["auth"]["user_name"]}
                                <span class="caret"></span>
                            </button>
                            <input type="hidden" value='{$arr["auth"]["manager"]}' id="user_auth"/>
                            <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                                <li><a href="#"><i class="glyphicon glyphicon-cog"></i> 修改密码</a></li>
                                <li><a href="__ROOT__/Login/login.html"><i class="glyphicon glyphicon-log-out"></i>
                                    退出</a></li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </div>
            <!-- header-right -->
        </div><!-- headerbar -->
        <div class="lineSpilt">&nbsp;</div>
        <div class="contentBox">
            <form id="uploadForm">
                <input type="file" class="form-control hide" name="thumbnail" id="thumbnail_file"/>
                <input type="hidden" id="thumbnailNum" value="1"/>
                <input type="hidden" id="subname" name="subname" value="tw_images"/>
            </form>
            <block name="main"></block>
        </div>
    </div><!-- mainpanel -->


</section>


<script src="__JS__/jquery-migrate-1.2.1.min.js"></script>
<script src="__JS__/jquery-ui-1.10.3.min.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/modernizr.min.js"></script>
<script src="__JS__/jquery.sparkline.min.js"></script>
<script src="__JS__/toggles.min.js"></script>
<script src="__JS__/retina.min.js"></script>
<script src="__JS__/jquery.cookies.js"></script>

<script src="__JS__/morris.min.js"></script>

<script src="__JS__/raphael-2.1.0.min.js"></script>

<script src="__JS__/custom.js"></script>
<script src="__JS__/jquery.form.min.js"></script>
<script src="__JS__/bootstrap-datetimepicker.min.js"></script>
<script src="__JS__/common.js"></script>
<link href="__CSS__/bootstrap-datetimepicker.css" rel="stylesheet"/>
<script src="__JS__/AES.js"></script>
<script src="__JS__/pad-zeropadding-min.js"></script>
<!--分页插件-->
<script src="__JS__/kkpager.min.js" type="text/javascript"></script>
<link href="__CSS__/kkpager_orange.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" charset="utf-8" src="__JS__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__JS__/ueditor/ueditor.all.js"></script>
<script type="text/javascript" charset="utf-8" src="__JS__/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" charset="utf-8" src="__JS__/upload.js"></script>
</body>
</html>
