<section class="panel divBox">
    <div class="dataAll">
        <div class="loading" style="display: none;width: 100%;text-align: center;">
            <img src="__IMG__/loading.gif"/>
        </div>


        <div class="panel-body panel-body-nopadding">
            <form id="addForm" class="form-horizontal form-bordered">
                <div class="form-group">
                    <label class="col-sm-1 control-label">公告标题<span class="asterisk">*</span></label>
                    <div class="col-sm-6">
                        <input type="text" placeholder="公告标题" name="title" class="form-control" value="{$result[0]['title']}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">缩略图</label>
                    <div class="col-sm-6">
                        <?php
                         $articleThum=$result[0]['pic_url'];
                         for($i=1;$i<2;$i++){ ?>
                          <span id="audio_area_show_{$i}">
                                <?php
                                    if(!empty($articleThum)){
                                        $thumurls=strpos($articleThum,"http");

                                        if($thumurls!==false){
                                            $str_thum=$articleThum;
                                        }else{
                                            $str_thum="..".$articleThum;
                                        }
                                ?>
                              <img src="{$str_thum}" class="eidtImg"/>
                              <?php } ?>
                            </span>
                             <span class="label label-primary  pointer " id="thumbnail_span_{$i}"
                                   onclick="uploadIMG('thumbnail','{$i}')">
                            <i class="fa fa-cloud-upload"></i>上传缩略图</span>
                        <input type="hidden" class="form-control " name="thumbnail[]" id="thumbnail_file_{$i}"
                               value="{$articleThum}"/>
                        <div class="MTS"></div>
                        <?php } ?>

                    </div>

                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">立即发布</label>
                    <div class="col-sm-6">
                        <div class="col-sm-6">



                            <input type="text" class="form-control " name="publish_time" id="publishtime"
                                   value="{$content[0]['media_time']}"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label"> 编辑内容</label>
                    <div class="col-sm-9">
                        <textarea id="publish_content" name="content" style="height: 300px;">{$content[0]['content']}</textarea>
                    </div>
                </div>
                <input type="hidden" name="rowkey" value="{$content[0]['rowkey']}"/>
                <input type="hidden" name="status" value="{$result[0]['status']}"/>
            </form>
            <div class="form-group savebutton">
                <button class="btn btn-primary " id="button_send"
                        onclick="submitNewChanne('addForm','updateDiscover','Discovers')">保&nbsp;&nbsp;存
                </button>

            </div>
        </div>
    </div>


</section>
</section>
<script src="__JS__/childe.js"></script>
<script type="text/javascript">

    var ue = UE.getEditor('publish_content', {
        allowDivTransToP: false,
        pasteplain: true,
        'filterTxtRules': function () {
            function transP(node) {
                node.tagName = 'p';
                node.setStyle();
            }

            return {
                //直接删除及其字节点内容
                '-': 'script style object iframe embed input select',
                'p': {'$': {}},
                'br': {'$': {}},
                'div': {'$': {}},
                'li': {'$': {}},
                'caption': transP,
                'th': transP,
                'tr': transP,
                'h1': transP, 'h2': transP, 'h3': transP, 'h4': transP, 'h5': transP, 'h6': transP,
                'td': function (node) {
                    //没有内容的td直接删掉
                    var txt = !!node.innerText();
                    if (txt) {
                        node.parentNode.insertAfter(UE.uNode.createText(' &nbsp; &nbsp;'), node);
                    }
                    node.parentNode.removeChild(node, node.innerText())
                }
            }
        }()
    });
    var bodyHeight = $(document).height();

</script>


