<extend name="Layout/main"/>
<block name="main">


    <section class="panel divBox">
        <header class="panel-heading">
            <button class="btn btn-info btn-xs authAll" type="button" onclick="addLayer('addChannel')"><i
                    class="fa fa-plus-square-o"></i> 添加用户
            </button>

        </header>

        <div class="dataAll">

            <div class="loading" style="display: none;width: 100%;text-align: center;">
                <img src="__IMG__/loading.gif"/>
            </div>

            <table class="dataTable" cellpadding="0" cellspacing="0">
                <tr class="info">
                    <th width="5%">序号</th>
                    <th>姓名</th>
                    <th width="20%">操作</th>
                </tr>
                <?php
                    foreach($user as $key=>$val){

                ?>
                <!--编辑用户信息-->
                <div class="addQA" id="channel_infor_{$key}" style="display: none;">
                    <form id="formid{$key}">
                        <div class="addMouule">
                            <section class="panel">
                                <header class="panel-heading">
                                    编辑用户信息
                                    <a class="fa fa-times close"
                                       onclick="getChannelInfor('infor','{$key}','close')"></a>
                                </header>
                                <div class="panel-body">

                                    <div class="form-group">
                                        <label class="label-width">用户名称:</label>
                                        <input type="text" name="user_name" class="form-control "
                                               value="{$val['user_name']}"/>
                                        <input type="hidden" name="user_id" class="form-control"
                                               value="{$val['user_id']}"/>
                                    </div>

                                    <div class="form-group">
                                        <label class="label-width">手机号码:</label>
                                        <input type="text" name="mobile" class="form-control "
                                               value="{$val['mobile']}"/>
                                    </div>

                                    <div class="btn btn-primary" onclick="userMethod('updateUserInfo','{$key}')">&nbsp;确&nbsp;&nbsp;定&nbsp;</div>
                                </div>
                            </section>
                        </div>
                    </form>
                    <div class="meng"></div>
                </div>
                <tr>
                    <td>{$key+1}</td>
                    <td>{$val.user_name}</td>
                    <td>
                        <a onclick="getChannelInfor('infor','{$key}')" class="blue pointer">编辑</a>
                        <a class="blue pointer" onclick="userMethod('deletedUserInfo','{$key}')">删除</a>
                    </td>
                </tr>
                <?php }?>
            </table>


        </div>

    </section>
    <!--蒙层-->
    <div class="addQA" id="addChannel" style="display:none ;">
        <div class="addMouule" style="left: 29%;width: 60%;min-width: 800px">
            <section class="panel">
                <header class="panel-heading">
                    新增用户
                    <a class="fa fa-times close" onclick="addLayer('addChannel','close')"></a>
                </header>
                <form id="formidadd">
                    <table class="layTable" style="margin-top: 20px;">
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label class="col-lg-2 col-sm-2 control-label">用户ID：</label>
                                    <div class="col-lgJ">
                                        <input type="text" class="form-control" name="user_id" id="userName" placeholder="用户ID">
                                    </div>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td>

                                <div class="form-group">
                                    <label class="col-lg-2 col-sm-2 control-label">用户登录名:</label>

                                    <div class="col-lgJ">
                                        <input type="text" class="form-control" name="user_name" id="login" placeholder="请输入用户登录名">
                                    </div>
                                </div>
                            </td>
                        </tr>


                    </table>
                    <div class="panel-body">
                        <div class="btn btn-primary" onclick="userMethod('addUserInfo','add')">
                            &nbsp;确&nbsp;&nbsp;定&nbsp;
                        </div>
                    </div>
                </form>
            </section>
        </div>
        <div class="meng"></div>
    </div>
    <script>
        $(document).ready(function () {
            $(".gids").each(function () {
                var id = $(this).attr("id").replace("gid", "");

                $("#editDesc" + id).val($("#gid" + id).val())
            })
        })


    </script>
</block>


