
<div class="panel panel-default">
<ul class="media-list comment-list">
<?php

    foreach($result as $key=>$val){
?>
<li class="media">
    <div class="media-body">
        <a onclick="getCommot('{$val.msg_id}')" class="btn btn-primary btn-xs pull-right"><i class="fa fa-eye"></i>查看评论</a>
        <h4>{$key+1}、{$val.title}</h4>
        <small class="text-muted">新闻时间：{$val.publish_time}</small>
        <small class="text-muted">赞同数：{$val.praise}</small>
        <small class="text-muted">浏览数：{$val.pv}</small>
        <small class="text-muted">评论数：{$val.comment}</small>

        <div class="answer{$val.msg_id}"  style="margin-left: 20px;display: none">
        </div>
    </div>


</li>
<?php }?>

</ul>
</div>
<?php
    if(count($result)==0){
?>

<div>暂无符合的数据</div>

<?php
        }else{
     $pageCount=ceil($resultCount/$viewCount);
?>
<input value="{$new_page}" id="page" type="hidden"/>
<div id="kkpager" style="display: inline-block"></div>
<span style="vertical-align: middle;margin-top: -30px;display: inline-block;">共{$resultCount}条数据</span>
<?php } ?>

<script type="text/javascript">
    $(document).ready(function () {
        //设置显示数据结构名称与数据
        var dataCount = {$resultCount};
        $(".newsNum").html(dataCount);
        var pageCount = {$pageCount};
        if (dataCount > 0) {
            limitPage(pageCount, dataCount, "../Question/getAnswer");
        }
    })
</script>